@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
  /* Custom Palette Setup */
  --bg-primary: #FFFFFF; /* White */
  --bg-secondary: #FFFFFF; /* Light Grey */
  --bg-tertiary: #FFFFFF; /* Beige */
  
  --text-primary: #1A1A1A; /* Dark Grey */
  --text-secondary: #4A4A4A; /* Medium Grey */
  
  --accent-red: #E05244;
  --accent-red-dim: #b34136;
  --accent-teal: #0F7173;
  --accent-teal-bright: #169fa1;

  --accent-glow: rgba(15, 113, 115, 0.2); /* Teal glow */
  --border-dim: rgba(0, 0, 0, 0.1); /* Light border */
  
  --font-main: 'Outfit', sans-serif;

  --textfield-outline: #57B3B3;
  --textfield-border: #D1D5DB;
}

body {
  margin: 0;
  color: var(--text-primary);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #F0F9F9 inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}



.highlightText {
  background-color: yellow;
}

.editableDivBox {
  background-color: white;
  border: 2px solid var(--textfield-border);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
}

.editableDivBox:focus-within {
  box-sizing: border-box;
  border-color: var(--textfield-outline);
  box-shadow: 0 0 0 4px var(--accent-glow);
  outline: none;
}

.editableDivBoxLabel {
  color: var(--text-secondary);
  font-family: var(--font-main);
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
  transform: translate(0, -1.8rem);
  position: absolute;
  transition: color 0.2s;
}

.editableDivBox:focus-within .editableDivBoxLabel {
  color: var(--text-primary) !important;
}

.teal-card {
  background-color: var(--accent-teal); 
  padding: 15px 10px; 
  width: 100%;

  @media (min-width: 768px) {
    padding: 20px;
    border-radius: 12px;
  }
}

.prompts-inner-card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.05);
  width: 100%;

  @media (min-width: 768px) {
    padding: 1.5rem;
    border-radius: 10px;
  }
}