@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
  /* Custom Palette Setup */
  --bg-primary: #FFFFFF; /* White */
  --bg-secondary: #FFFFFF; /* Light Grey */
  --bg-tertiary: #FFFFFF; /* Beige */
  
  --text-primary: #1A1A1A; /* Dark Grey */
  --text-secondary: #4A4A4A; /* Medium Grey */
  
  --accent-red: #E05244;
  --accent-red-dim: #b34136;
  --accent-teal: #0F7173;
  --accent-teal-bright: #169fa1;

  --accent-glow: rgba(15, 113, 115, 0.2); /* Teal glow */
  --border-dim: rgba(0, 0, 0, 0.1); /* Light border */
  
  --font-main: 'Outfit', sans-serif;
}

body {
  margin: 0;
  color: var(--text-primary);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
}



.highlightText {
  background-color: yellow;
}

.editableDivBox {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.editableDivBox:focus-within {
  box-sizing: border-box;
  outline: 2px solid rgba(0, 0, 0, 1);
}

.editableDivBox:focus-within .editableDivBoxLabel {
  color: black !important;
  font-weight: 400 !important;
}